h1{
    font-family: "Goudy Old Style";
}

body{
    background-color: whitesmoke;
}
div{
    padding: 10px;
    margin: 5px;
    background-color: whitesmoke;
}

p{
    color: darkgoldenrod;
}

ul{
    color: darkgoldenrod;
    font-family: "Goudy Old Style";
    font-size: larger;
}

h2{
    color: darkgoldenrod;
    font-family: "Goudy Old Style";
}

.jumbotron{
    background-image: url(goldbackground.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    color: whitesmoke;
}

h3{
    color: darkgoldenrod;
    font-family: "Goudy Old Style";
}
.about_section{
    font-family: "Goudy Old Style";
    font-weight: bold;
    font-size: larger;
    border-style: solid;
    border-color: darkgoldenrod;
    border-right-width: 2px;
    border-left-width: 2px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.directions{
    font-family: "Goudy Old Style";
}

.appointment{
    font-family: "Goudy Old Style";
}

.picspage{
    font-family: "Goudy Old Style";
}