h1{
    font-family: "Goudy Old Style";
}

body{
    background-color: whitesmoke;
}
div{
    padding: 10px;
    margin: 5px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: groove;
    border-color: mediumpurple;
    background-color: whitesmoke;
}

p{
    color: mediumpurple;
}

ul{
    color: mediumpurple;
    font-family: "tahoma";
}

h2{
    color: mediumpurple;
    font-family: "tahoma";
}

.jumbotron{
    background-image: url(brickback.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    color: whitesmoke;
}

h3{
    color: mediumpurple;
    font-family: "tahoma";
}
.about_section{
    font-family: "Bradley Hand ITC";
}

.directions{
    font-family: "tahoma";
}